@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*
continuar na classe btn da seção signup
*/


* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    box-sizing: border-box;
}

:root {
    --blue-color: #38AF90;
    --white-color: #fff;
    --gray-color: #F0F0F0;
    --title-section1-color: #797979;
    --sections-buttons: #DD7E92;
    --footer-color: #383838;
    --black-color: #000;
    --form-color: #C4C4C4;
    --radio-checkbox-color: #999;
}

/*html elements*/

header {
    width: 100%;
    height: 90px;
    background-color: var(--blue-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
    /*padding: 0 3.75vw;*/
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    /*width: 131px; height: 27px;*/
    font-size: 1.125rem;
    line-height: 27px;
    /*margin: 32px 179px 31px 10px;*/
}

header img {
    /*width: 62px;*/
    height: 62px;
    /*margin: 14px 14px 10px 107px;*/
}

section#news-section-link div, h2 {
    /*width: 202px; height: 36px; margin-top: 40px; line-height: 36px;*/
    margin-bottom: 10px;
    font-size: 1.5rem;/*24px*/
    color: var(--title-section1-color);
    text-align: center;
}

a {
    text-decoration: none;
    color: unset;
}


section#games-section-link h2 {
    /*width: 75px; height: 36px;*/
    font-size: 1.5rem;
    line-height: 36px;
    color: var(--title-section1-color);
    margin-bottom: 10px;
    text-align: center;
}

section#games-section-link img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

section#games-section-link h3 {
    /*width: 220px; height: 27px;*/
    font-size: 1.125rem;
    color: var(--title-section1-color);
    text-align: center;
    /*margin: 27.46px 40px 0 40px;
    line-height: 27px;*/
}

span {
    color: var(--blue-color);
}

label {
    font-weight: 400;
    line-height: 24px;
}

section#sign-up-section-link h2 {
    /*width: 231px; height: 36px; line-height: 36px; */
    font-size: 1.5rem;
    color: var(--title-section1-color);
    margin-bottom: 10px;
    text-align: center;
}


footer {
    width: 320px;
    height: 302px;
    max-width: 1200px;
    background-color: var(--footer-color);
    color: var(--white-color);
    font-size: 0.875rem;
    padding: 30px 10px;
    margin-top: 40px;
    font-weight: 400;
    /*line-height: 21px;*/
}

footer a {
    text-decoration: none;
    color: var(--white-color);
}

/*css classes*/

.generic-section {
    padding: 40px 10px;
}

.container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: none;
}

.news-card {
    background-color: var(--gray-color);
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.50);
    padding: 16px 12px 12px 12px;
    margin-bottom: 30px;
}

.news-card-header h3 {
    /*width: 275px; height: 24px; line-height: 24px; margin: 0 13px 3px 12px; */
    font-size: 1rem;
    color: var(--blue-color);
}

.news-card-header h4 {
    font-size: 0.75rem;/*12px*/
    color: var(--footer-color);
    border-bottom: 1px solid var(--blue-color);
}

.news-card-header p {
    /*width: 274.85px; height: 15px;*/
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 15px;
    color: var(--blue-color);
    margin-bottom: 1px;
    /*margin: 0 11.24px 1px 13px;*/
}


.news-card-body p {
    /*width: 276px;*/
    /*height: 329px;*/
    width: 100%;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 15px;
    color: var(--title-section1-color);
    margin: 0 12px;
}

.news-card-body a {
    /*width: 272px; height: 21px;*/
    font-size: 0.875rem;
    line-height: 21px;
    color: var(--sections-buttons);
    margin: 0 16px 0 12px;
}

.news-card-body a:hover {
    text-decoration: underline;
}


.news-buttom-container {
    display: flex;
    justify-content: center;
}

.btn {
    width: 244px;
    height: 67px;
    background-color: var(--sections-buttons);
    border: none;
    border-radius: 8px;
    font-size: 1.125rem;
    color: var(--white-color);
    line-height: 27px;
    cursor: pointer;
}

.bg-light-gray {
    background-color: var(--gray-color);
}

.games-cards-container {
    width: 100%;
    max-width: 990px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 30px 10px 0 10px;
}

.game-card-info {
    padding: 30px 15px 15px 15px;
    background-color: var(--white-color);
    border-radius: 0 0 8px 8px;
}

.game-card-info p {
    /*width: 207px; height: 21px;*/
    font-size: 0.75rem; 
    color: var(--title-section1-color);
    text-align: center;
    /*margin: 0 46px 0 47px;
    line-height: 21px;*/
}


.game-card-price p {
    /*width: 52px; height: 54px; line-height:54px; */
    margin-top: 13px;
    font-size: 2.25rem;
    color: var(--blue-color);
    /*margin: 13px 124px 15px 124px;*/
}



/* CORRIGIR A PARTIR DAQUI */

.form-card {
    /* width: 300px; height: 603px;*/
    max-width: 790px;
    margin: 0 auto;
    background-color: var(--gray-color);
    padding: 40px 10px 30px 10px;
    border-radius: 8px;
    color: var(--footer-color);
    font-size: 1rem;
}

.form-control-container {
    width: 100%;
    margin-bottom: 20px;
}

.form-control-input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid var(--footer-color);
}

.form-control-input::placeholder {
    color: var(--gray-color);
}

.form-buttons-container {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



/*user-name:
    width: 280px;
    height: 50px;
    background-color: var(--white-color);
    outline: 1px solid var(--title-section1-color);
    border-radius: 4px;
    margin-bottom: 18px;
    padding: 13px 0 13px 22px;
    line-height: 24px;
*/
/*user-email:
    width: 280px;
    height: 50px;
    background-color: var(--white-color);
    outline: 1px solid var(--title-section1-color);
    border-radius: 4px;
    padding: 13px 0 13px 22px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
*/


.game-platforms {
    color: var(--title-section1-color);
    margin: 20px 30px 32px 0;
}

.input-label {
    display: flex;
}

.input-label-Pc {
    margin-top: 8px;
}

.radio-checkbox {
    border-radius: 50%;
    width: 23px;
    background: var(--white-color);
    border: 1px solid var(--radio-checkbox-color);
    margin: 0 7px 7px 0;
}

.sec3-send-btn {
    width: 244px;
    height: 67px;
    background: var(--sections-buttons);
    border: none;
    border-radius: 8px;
    padding: 20px 94px 20px 91px;
    margin: 40px 30px 20px 18px;
    font-size: 1.125rem;
    line-height: 27px;
    color: var(--white-color);
}

.sec3-reset-btn {
    width: 244px;
    height: 67px;
    top: 3094px;
    background: var(--white-color);
    border: 2px solid var(--sections-buttons);
    border-radius: 8px;
    font-size: 1.125rem;
    color: var(--sections-buttons);
    line-height: 27px;
    padding: 20px 91px 20px 87px;
    margin: 0 30px 33px 18px;
}

.footer-container {
    width: 300px;
    height: 242px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.footer-container p {
    width: 250px;
    text-align: center;
}



/*link1-footer:
    margin: 28px 106px 0 103px;
  link2-footer:
    margin: 3px 110px 47.32px 106px;
  link3-footer:
    margin: 0 81px 0 78px;
  link4-footer:
    margin: 3px 109px 30.32px 107px;
*/



@media(min-width: 768px) {
    
    
    /*html elements*/
    
    body {
        margin: 0 auto;
        max-width: 1200px;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
        
    h1 {
        /*width: 174px; height: 36px;*/
        font-size: 1.5rem;
        /*margin: 27px 27px 0 105px;*/
    } 
        
    header a {
        /* width: 57px; height: 21px;*/
        color: var(--white-color);
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
    }

    header img {
        margin-right: 0;
    }

    footer p {
        margin: 0;
    }
    
    /*css classses*/
    
    
    .header-elements {
        width: 990px;
    }
       
    .right-header-elements {
        height: 90px;
        display: flex;
    }

    header li {
        list-style-type: none;
    }
        
    .header-links {
        width: 239px;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-img {
        width: 101px;
        display: flex;
        justify-content: flex-end;
    }

    
    .news-latest-title h2 {
        width: 302px; 
        height: 54px;
        font-size: 2.25rem; /*36px*/
        margin-bottom: 40px;
        line-height: 54px;
    }

    .news-latest-container {
        width: 990px;
        height: 268px;
        box-shadow: 0px 4px 20px rgba(0,0,0,0.50);
        background: var(--gray-color);
        padding-top: 18px;
        padding-left: 40px;
        padding-bottom: 15px;
        margin-bottom: 40px;
    }

    .news-title3 {
        width: 316px;
        height: 36px;
        font-size: 1.5rem;
        line-height: 36px;
        color: var(--blue-color);
        margin-right: 834px;
    }
    
    .news-title4 {
        /*width: 907px; height: 24px;*/
        font-size: 1rem;
        line-height: 24px;
        color: var(--title-section1-color);
        margin-right: 43px;
    }
    
    .line {
        width: 910px;
        /*height: 3px;*/
        border-top: 1px solid var(--blue-color);
        margin: 0 40px 1px 0;
    }
    
    .news-date {
        /*width: 907.85px; height: 15px;*/
        color: var(--blue-color);
        margin: 0 43px 16px 0;
    }
    
    .news-text {
        /*width: 909px; height: 92px;*/
        color: var(--title-section1-color);
        margin: 0 41px 7px 0;
    }
    
    .read-more {
        /*width: 73px; height: 21px;*/
        color: var(--sections-buttons);
        margin: 0 877px 0 0;
        text-decoration: none;
    }
    
    .sec1-btn {
        margin-bottom: 56px;
    }
    
    .games-container {
        width: 1200px;
        height: 559px;
        padding: 36px 120px 70px 120px;
        margin-bottom: 39px;
    }
    
    .games-title {
        /*width: 112px; height: 54px;*/
        font-size: 2.25rem;
        line-height: 54px;
        text-align: center;
        margin-bottom: 73px;
    }
    
   .cards {
        display: flex;
    }

    .center-card {
        margin: 0 30px;
    }

    .sign-up-section-title {
    width: 347px; 
    height: 54px;
    font-size: 2.25rem;
    line-height: 54px;
    margin-top: 39px;
    margin-bottom: 92px;
    }

    .sign-up-container {
        width: 790px;
        height: 522px;
        box-shadow: none;
        padding: 52px 0 52px 73px;
        margin-bottom: 61px;
    }

    .user-name {
        width: 642px;
        margin-right: 75px;
        padding-right: 22px;
    }

    .user-email {
        width: 642px;
        padding-right: 22px;
        margin-right: 75px;
    }


    .game-platforms {
        margin: 0 455px 30px 0;
    }

    .sign-up-section-bottons {
        margin: 38px 125px 52px 53px;
        display: flex;
    }


    .sec3-send-btn {
        margin: 0 52px 0 0;
    }

    .sec3-reset-btn {
        top: 2016px;
    }

    .footer-container {
        height: 190px;
        /*padding: 0 150;*/
        margin-top: 61px;
    }
    
    .elements-footer-groups {
        width: 990px;
        height: 190px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /*align-items: center;*/
    }
    
    
    .footer-elements {
        font-size: 0.75rem;
    }
        
    .link1-footer {
        margin: 0;
    }
    
    .link2-footer {
        margin: 0;
    }
    
    .link3-footer {
        margin: 0;
    }
    
    .link4-footer {
        margin: 0;
    }
    

}


